
<!DOCTYPE HTML>
<html>
	<head lang="eu">
		<title>Home Page Let's Party</title>
		<meta charset="utf-8" />
		<link rel = "icon" href = "iconpng/summercocktail.png" type = "image/x-icon"> 
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
        <div id="preloader">
            <img id="loading-image" src="../photos/giphy-2.gif" alt="Loading..." style="display: block; margin-left: auto; margin-right: auto;"  /></div>
        </div>
		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
				<!-- Intro -->
					<div id="intro">
						<h1>Let's Party <br /></h1> <h2>the (re)evolution of nightclub. </h2> 
						<p>The social network of tomorrow designed by <a href="https://www.instagram.com/francescotinessa_/" target="_blank">Francesco Tinessa</a>
                         and <a href="https://www.instagram.com/gianlucaaprocopio/" target="_blank">Gianluca Procopio</a></p>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="#" class="logo" >Let's Party</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="/">About Us</a></li>
							<li><a href="/users/map">MAP</a></li>
                        <li><a href="/socialNetwork">SOCIAL NETWORK</a></li>
                        <li><a href="../FutureProject.html">FUTURE PROJECTS</a></li>
						<li><a href="/users/login">LOGIN</a></li>
                        <li><a href="../contacts.html">CONTACTS</a></li>
						<li><a href="/users/profile">PROFILE</a></li>
						<li><a href="/users/partners">PARTNERS</a></li>
						</ul>
					</nav>
                    

				<!-- Main -->
					<div id="main">

						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<span class="date">May 25, 2023</span>
									<h2><a>how it all started.</a></h2>
									<p>My name is Francesco Tinessa, I'm 21 years old and I'm a computer engineering student at the University of Rome "La Sapeinza". Together with my colleague Gianluca Procopio we are developing software that will change the way parties are organized and attended, allowing people to interconnect and live an even deeper experience. A discotheque service provider that will make life easier for anyone who uses it, giving them the opportunity to live to the fullest, enjoying the moment without worrying about anything. Don't miss the chance to have fun with us.<br />
										We welcome the discovery of LET'S PARTY. Good vision. 🥳
									</p>
								</header>
								<a href="#" class="image main"><img src="iconpng/summercocktail.png" alt="" width="200px" height="auto"/></a>
							</article>
					</div>
                    <br />

				<!-- Footer -->
					<footer id="footer">
						<section>
							<form method="post" action="/send_email">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="3"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
						</section>
						<section class="split contact">
							<section class="alt">
								<h3>Address</h3>
								<p>Roma, 00162, Italy<br />
								Via Della Lega Lombarda</p>
							</section>
							<section>
								<h3>Phone</h3>
								<p><a href="#">Francesco Tinessa CEO: (+39) 3495682698<br /></a>
                                    <a href="#"> Gianluca Procopio CEO: (+39) 3802806488</a></p>
							</section>
							<section>
								<h3>Support</h3>
								<p><a href="#">letspartyapp@gmail.com</a></p>
							</section>
							<section>
								<h3>Social</h3>
								
									<ul class="icons alt">
                                        <a href=""><img src="iconpng/facebook.png" alt="" width="50px" height="auto"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        <a href="https://twitter.com/FrancescoTines1" target="_blank"><img src="iconpng/twitter.png" alt="" width="50px" height="auto"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        <a href="https://github.com/francesco12801" target="_blank"><img src="iconpng/github.png" alt="" width="50px" height="auto"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                        <a href="https://www.instagram.com/francescotinessa_/" target="_blank"><img src="iconpng/instagram.png" alt="" width="50px" height="auto"></a>
                                    </ul>
								 
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Copyright 2023</li><li>Design: <a href="https://www.instagram.com/francescotinessa_/" target="_blank">Francesco Tinessa </a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="javascript/jquery.min.js"></script>
			<script src="javascript/jquery.scrollex.min.js"></script>
			<script src="javascript/jquery.scrolly.min.js"></script>
			<script src="javascript/browser.min.js"></script>
			<script src="javascript/breakpoints.min.js"></script>
			<script src="javascript/util.js"></script>
			<script src="javascript/main.js"></script>
            <script>
                var loader = document.getElementById("preloader");
                window.addEventListener("load", function(){
                    loader.style.display = "none";
                })
            </script>

	</body>
</html>
