<!DOCTYPE html>
<html lang="eu">
    <head>
        <meta charset="utf-8">
        <title>Let's Party Future Project</title>
        <link rel="stylesheet" href="/css/main.css">
        <noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
    </head>
    <body style="background-image: url('../photos/overlay.png'), linear-gradient(to bottom,#21293100, #21293127,#21293150,#21293153,#2129317c,#212931b0,#212931af,#212931cb,#212931ee,#212931fd), url('../photos/fiesta3.jpg');background-size: cover;">
        <div id="wrapper">
            <div>
                <center><img src="../iconpng/officiaLogo.png" id="logos"></center>
            </div>
            <nav id="nav">
                <ul class="links">
                    <li ><a href="/">About Us</a></li>
                    <li><a href="/users/map">MAP</a></li>
                    <li><a href="/socialNetwork">SOCIAL NETWORK</a></li>
                    <li><a href="../FutureProject.html">FUTURE PROJECTS</a></li>
                    <li class="active"><a href="/users/login">Login</a></li>
                    <li><a href="../contacts.html">CONTACTS</a></li>
                    <li><a href="/users/profile">PROFILE</a></li>
                    <li><a href="/users/partners">PARTNERS</a></li>
                </ul>
            </nav>
            <footer id="footer">
                <section>
                    <form method="POST" action="/users/login">
                        <div class="fields">
                            <div class="field">
                                <label for="email">Email </label>
                                <input type="email" name="email" id="email" required/>
                            </div>
                            <div class="field">
                                <label for="password">Password</label>
                                <input type="password" name="password" id="password" required/>
                            </div>
                        </form>
                            <ul class="LoginButton">
                                <br />
                                <input type="submit" value="Let's party 🥳" class="button large">  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <a href="/users/signup" class="button large">Sign Up</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <a href="#" class="logo">OR</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <a href="/auth/google" target="_blank"><img src="../iconpng/google.png" alt="" width="50px" height="auto" style="position: relative;"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <a href="#"><img src="../iconpng/facebook.png" alt="" width="50px" height="auto" style="position: relative;"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <a href="https://twitter.com/FrancescoTines1" target="_blank"><img src="../iconpng/twitter.png" alt="" width="50px" height="auto" style="position: relative;"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <a href="https://github.com/francesco12801" target="_blank"><img src="../iconpng/github.png" alt="" width="50px" height="auto" style="position: relative;"></a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <a href="https://www.instagram.com/francescotinessa_/" target="_blank"><img src="../iconpng/instagram.png" alt="" width="50px" height="auto" style="position: relative;"></a>
                                </li>
                            </ul>
                        </div>
                        <br />
                        <center><h2><a>are you a creator?😎 </a></h2></center>
                        <center><h2><a>WE LOVE THEM! </a></h2></center>
                        <a href="#" class="image main"><img src="../iconpng/shake.png" alt="" width="200px" height="auto"/></a>
                        <center><ul class="LoginButton"><a href="/users/signupOrganizer" class="button large">Signup and organize the best party of all time 🤩</a></ul></center>
                        <br />

                </section>
        </div>
        <div id="copyright">
                    <ul>
                      <li>&copy; Copyright 2023 </li>
                      <li>Design: <a href="https://www.instagram.com/francescotinessa_/" target="_blank"> Francesco Tinessa </a></li>
                    </ul>
                </div>

        <!-- script -->

        <script src="../javascript/jquery.min.js"></script>
		<script src="../javascript/jquery.scrollex.min.js"></script>
		<script src="../javascript/jquery.scrolly.min.js"></script>
		<script src="../javascript/browser.min.js"></script>
		<script src="../javascript/breakpoints.min.js"></script>
		<script src="../javascript/util.js"></script>
		<script src="../javascript/main.js"></script>
        
    </body>

</html>