<!DOCTYPE html>
<html lang="eu">
    <head>
        <link rel = "icon" href = "iconpng/summercocktail.png" type = "image/x-icon"> 
        <meta charset="utf-8">
        <title>Sign Up and Join our community</title>
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body style="background-size: cover;">
        <div id="wrapper">
            <div>
                <center><img src="../iconpng/officiaLogo.png" id="logos"></center>
            </div>
            <footer id="footer" style="opacity:90%;">
                <section style="opacity: 100%;">
                    <form action="/users/signup" method="POST">
                        <section class="split contact" action="signup.php">
                            <div class="field">
                                <label for="name" >First Name </label>
                                <input type="text" name="name" id="name" required/>
                            </div>
                            <br />
                            <div class="field">
                                <label for="surname">Second Name </label>
                                <input type="text" name="surname" id="surname" required/>
                            </div>
                            <br />
                            <div class="field">
                                <label for="username">Username </label>
                                <input type="text" name="username" id="username" required/>
                            </div>
                            <br />
                            <div class="field">
                                <label for="email">Email </label>
                                <input type="email" name="email" id="email" required/>
                            </div>
                            <br />
                            <div class="field">
                                <label for="BirthDay">Birthday</label>    
                                <input type="date" name="b_day" id="b_day" required/>
                                <script>
                                    const birthdateInput = document.getElementById('b_day');
                                    const today = new Date();
                                    const maxDate = new Date(today.getFullYear() - 16, today.getMonth(), today.getDate());
                                    const formattedMaxDate = maxDate.toISOString().split('T')[0];
                                    birthdateInput.setAttribute('max', formattedMaxDate);
                                </script>
                            </div>
                            <br />
                            <div class="field">
                                <label for="Address">Address</label>
                                <input type="text" name="address" id="address" required/>
                            </div>
                            <br />
                            <div class="field">
                                <label for="PhoneNumber">Phone Number</label>
                                <input type="tel" name="p_num" id="p_num" required/>
                            </div>
                            <br />
                            <div class="field">
                                <label for="password">Password </label>
                                <input type="password" name="pw" id="pw" required/>
                            </div>
                            <br />
                            <div class="field">
                                <label for="passwordConfirm">Confirm Password </label>
                                <input type="password" name="pw_c" id="pw_c" required/>
                            </div>
                            <br />
                            <br />
                            <div id="SignUpCentered">
                                <input type="submit" value="Sign up and BE the party 🥳">
                            </div>
                            <br />
                        </section>
                    </form>
                </section>
            </footer>
            <div id="copyright">
                <ul><li>&copy; Copyright 2023</li><li>Design: <a href="https://www.instagram.com/francescotinessa_/" target="_blank">Francesco Tinessa </a></li></ul>
            </div>
            <!-- Scripts -->
			<script src="../javascript/jquery.min.js"></script>
			<script src="../javascript/jquery.scrollex.min.js"></script>
			<script src="../javascript/jquery.scrolly.min.js"></script>
			<script src="../javascript/browser.min.js"></script>
			<script src="../javascript/breakpoints.min.js"></script>
			<script src="../javascript/util.js"></script>
			<script src="../javascript/main.js"></script>
        </div>
    </body>

